<div class="main ">
  <div class="projects-section">
    <div class="title slide-in-right">
      <h1>My projects 👨‍🏫</h1>
    </div>
    <div class="project slide-in-left">
      <div class="description">
        <h3>CarShowroom App</h3>
        <p>
          It is a Full-stack project. I created the Web API with <strong>repository pattern</strong>, <strong>DTOs</strong> and tools like <strong>AutoMapper</strong> in .Net Core 3.1 and database
          with Entity Framework (code-first). Front-end created with Angular 9. More about a project over
          <a href="https://github.com/agajek777/CarShowroomApp" target="_blank">here</a>.
        </p>
      </div>
      <div class="miniature">
        <img src="assets/img/CarSh.JPG">
      </div>
    </div>
    <div class="mobile">
      <div class="project slide-in-right">
        <div class="description">
          <h3>Library App</h3>
          <p>
            It is a project fully created using .NET platform. Library app stores encrypted user accounts and
            data of the library in database (<strong>Core Identity</strong>). App provides users with a real-time
             chat thanks to <strong>SignalR</strong>. GUI created with Razor Pages and based on <strong>MVC</strong> logic.
             More about a project over
            <a href="https://github.com/agajek777/LibraryApp" target="_blank">here</a>.
          </p>
        </div>
        <div class="miniature">
          <img src="assets/img/LibApp.JPG">
        </div>
      </div>
    </div>
    <div class="larger">
      <div class="project slide-in-right">
        <div class="miniature">
          <img src="assets/img/LibApp.JPG">
        </div>
        <div class="descriptionL">
          <h3>Library App</h3>
          <p>
            It is a project fully created using .NET platform. Library app stores encrypted user accounts and
            data of the library in database (<strong>Core Identity</strong> and <strong>EF Core</strong>). App provides users with a real-time
             chat thanks to <strong>SignalR</strong>. GUI created with <strong>Razor Pages</strong> and based on <strong>MVC</strong> logic.
             More about a project over
            <a href="https://github.com/agajek777/LibraryApp" target="_blank">here</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="more slide-in-left">
      <h3>More projects</h3>
      <p>
        <a href="https://github.com/agajek777" target="_blank">
          <img class="logo" src="https://image.flaticon.com/icons/png/512/37/37318.png">
        </a>
      </p>
    </div>
  </div>
</div>

